.loading-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas {
    font-size: 22px !important;
}

.home-banner {
    display: block;
    margin: 0 auto;
}

.fas[data-count] {
    position: relative;
}
.fas[data-count]:after {
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    content: attr(data-count);
    padding: 0.5em;
    border-radius: 10em;
    line-height: 0.9em;
    color: white;
    background: rgba(255, 0, 0, 1);
    text-align: center;
    min-width: 2em;
    font: bold 0.4em sans-serif;
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationItem {
    background: #fff;
    border: 2px solid #666;
    padding: 10px 15px;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    position: relative;
    margin: 0 5px;
    cursor: pointer;
}

.paginationItem span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.paginationItem.active {
    background-color: #999;
}

.prev,
.next {
    background: #fff;
    border: none;
    padding: 10px;
    color: blue;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    margin: 0 10px;
    cursor: pointer;
}

/* .paginationItem.active {
    border: 1px solid #888;
    color: #888;
    pointer-events: none;
} */

.prev.disabled,
.next.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
}

/* Notification */
.notification-unread {
    background-color: lightgreen;
}

.notification-read {
    background-color: lightcoral;
}

.nav-pills .nav-link {
    cursor: pointer;
}

.pagination {
    margin-top: 30px;
}

.dashboard-product-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.order-details__container {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.toast-container {
    position: absolute;
    top: 0;
    right: 0;
}
